.root{
    -fx-background-color: #c4c4c4;
}

.label{
    -fx-font-style: oblique;
}

.checkButton{
    -fx-background-image: url("../paints/checkBalance.png");
}

.addMoney{
    -fx-background-image: url("../paints/addMoney.png");
}

.getMoney{
    -fx-background-image: url("../paints/getMoney.png");
}

.knowCardNumb{
    -fx-background-image: url("../paints/knowCardNumb.png");
}

.addCard{
    -fx-background-image: url("../paints/addCard.png");
}

.exit{
    -fx-background-image: url("../paints/exit.png");
}

.logotip{
    -fx-background-image: url("../paints/1.png");
}

.logout{
    -fx-background-image: url("../paints/logout.png");
    -fx-background-color: #c4c4c4;
}

.admin{
    -fx-background-image: url("../paints/administrator.png");
    -fx-background-color: #c4c4c4;
}

.registration{
    -fx-background-image: url("../paints/my-account.png");
    -fx-background-color: #c4c4c4;
}


.create{
    -fx-background-image: url("../paints/okey.png");
 }

.transfer{
    -fx-background-image: url("../paints/transferMoney.png");
}